@charset "UTF-8";


html{
    height: 100%;
    width: 100%;
  }

.centro{
    display: flex;
    width: 840px;
    height: 360px;
    justify-content: center;
    align-items: center;

}

audio#musica {
    display:block;
    position: relative;
    left: 570px;
    top: 500px;
    width: 300px;
}

video#filme {
    display: flex;
    position: relative;
    width: 440px;
  
    right: 800px;
    top: 100px;
}

